@use 'colores';
@use 'mix';

.p1{
    // background-color: red;
    width: 40vw;
    @include mix.centrarMargin();
    text-align: center;
    &__logo{
        border-radius: 50%;
        height: 250px;
        margin-bottom: 10px;
    }
    &__title{
        font-size: 40px;
        margin-bottom: 10px;
    }
}
.p1__parahraph{
    font-weight: 600;
    // background-color: red;
    padding-bottom: 25px;
}
.p1__logo{
    width: 250px;
    height: 250px;
    background-image: url('../assets/Gotin1_001.png');
    @include mix.centrarBack(contain);
    @include mix.centrarMargin();
}
@media (max-width:700px) {
    .p1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo{
            height: 200px;
            width: 200px;
    
        }
    }
}


.p2{
    background-color: colores.$colorMorado2;
    height: 100%vw;
    width: 100%;
    padding: 20px;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    &__title{
        font-size: 3vw;
        // margin-bottom: 15px;
        // background-color: blue;
        width: 100%;
    }
    &__paragraph{
        width: 90%;
        // background-color: red;
        font-weight: 600;
        font-size: 20px;
        margin-top: 15px;
    }
    &__slider{
        background-color: colores.$colorAzul4;
        width: 90vw;
        height: 20vw;
        border-radius: 20px;
        position: relative;
        animation: slide 20s infinite;
        @include mix.centrarBack(cover);
        --cliph:circle(0% at 50% 50%);

        @keyframes slide {
            0%{background-image: url('../assets/lavar carro.webp');}
            25%{background-image: url('../assets/aguasalta.jpg');}
            50%{background-image: url('../assets/grifo.webp');}
            75%{background-image: url('../assets/cascada.jpg');}
            100%{background-image: url('../assets/lavar manos.webp');}
        }

        &::before{
            content: 'Cultura del agua';
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4vw;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #009a9a89;
            border-radius: 20px;
            clip-path: var(--cliph);
            transition: all 0.5s ease;
        }
        &:hover{
            --cliph:circle(70.7% at 50% 50%);
        }
    }
}
@media (max-width:700px){
    .p2{
        display: flex;
        flex-direction: column;
        gap: 25px;
        &__title{
            font-size: 5vh;
        }
        &__slider{
            height: 250px;
            &::before{
                font-size: 10vw;
            }
        }
    }
}